<div class="card size">
    <img [src]="picture" class="card-img-top " alt="image">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Age: {{age}}</p>
      <p class="card-text">Email: {{email}}</p>
      <p class="card-text">Phone: {{phone}}</p>
      <p class="card-text">Genre: {{genre}}</p>
      <p class="card-text">Username: {{nameUser}}</p>
      <p class="card-text">City: {{city}}</p>
      <p class="card-text">Country: {{country}}</p>
      <p class="card-text"><small class="text-muted">Last updated {{time}} mins ago</small></p>
    </div>
  </div>